@import url('https://fonts.googleapis.com/css2?family=Cambria:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Cambria';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

.form-container {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
}

.form-container form {
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #fff;
   width: 700px;
}

.form-container form h3 {
   font-size: 35px;
   text-transform: uppercase;
   margin-bottom: 40px;
   text-align: center;
   color: #333;
}

.form-container form input {
   /* width: 100%; */
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
}

.name {
   padding-right: 10px;
   width: 1000px;
}

.genders {
   display: flex;
   font-size: 18px;
}

.g{
padding-left: 10px;
}

.fn {
   width: 300px;
}

.form-container form .form-btn {
   background: #b3defc;
   color: black;
   text-transform: capitalize;
   font-size: 18px;
   cursor: pointer;
   width: 800px;
}

.form-container form .form-btn:hover {
   background: black;
   color: #fff;
   width: 800px;
}

.form-container form p {
   margin-top: 10px;
   font-size: 18px;
   color: #333;
}

.form-container form p a {
   color: crimson;
}

.loginp{
   display: flex;
   justify-content: center;
}

.form-container form .error-msg {
   margin: 10px 0;
   display: block;
   background: crimson;
   color: #fff;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}

.forget p {
   margin-top: 15px;
}